.jumbotron {
  padding-top: 7rem;
  background: #e2edff;
}

#projects {
  background: #e2edff;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
